#!/usr/bin/make -f

%:
	dh $@ --buildsystem=meson

# compat 12 makes dh_makeshlibs depend on (>= upstream version), i.e.
# (>= 0.5), which the 0.5-0~<date> snapshot builds never satisfy
override_dh_makeshlibs:
	dh_makeshlibs -VNone
